html {
  font-size: 15px; }

body {
  font: 1em "Segoe UI", sans-serif; }

.login #back-to-top {
  display: none; }

.login .outer-wrap {
  padding: 0 !important; }

.login-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* 	&:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	background: rgba($coin, 0.9);
	z-index: 2;
} */ }
  .login-container:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: url(../../images/net_image.jpg) no-repeat center;
    background-size: cover;
    z-index: 1; }

.login-form {
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3; }
  .login-form .form-group {
    margin-left: 0;
    margin-right: 0; }
    .login-form .form-group.field-loginform-username .help-block {
      margin-bottom: 15px; }
    .login-form .form-group.field-adminloginform-username .help-block {
      margin-bottom: 15px; }
    .login-form .form-group label {
      color: #fff;
      font-weight: normal; }
    .login-form .form-group .form-control {
      border-radius: 20px;
      background: rgba(0, 0, 0, 0.35);
      border: 0;
      color: #fff;
      padding: 5px 17px;
      line-height: 34px; }
    .login-form .form-group:not(.field-loginform-username):not(.field-loginform-password):not(.type-fields):not(.field-adminloginform-username):not(.field-adminloginform-password) {
      padding-left: 20px; }
  .login-form .type-fields {
    position: relative; }
    .login-form .type-fields label {
      position: absolute;
      top: 6px;
      left: 20px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      padding: 0;
      font-weight: normal; }
    .login-form .type-fields.focus label {
      top: -25px;
      font-size: 13px; }
    .login-form .type-fields.focus .form-control {
      border: 2px solid #ffb918; }

.help-block {
  margin: 3px 15px 0; }
  .help-block:not(:empty) {
    font-size: 0.8em;
    background: #ac2626;
    padding-left: 10px;
    color: #fff;
    border-radius: 5px; }

.field-loginform-rememberme, .field-adminloginform-rememberme {
  float: left; }
  .field-loginform-rememberme label, .field-adminloginform-rememberme label {
    font-weight: 400; }

.forgot-pwd {
  float: right; }

.text-danger {
  color: #ac2626;
  font-weight: 400; }

button[name="login-button"] {
  margin-left: 20px; }

.new-registration {
  float: right;
  color: #fff;
  font-weight: normal;
  margin-top: 5px; }
  .new-registration a {
    color: #89e4c3; }
    .new-registration a:hover {
      color: #81e2bf; }

.logo-block {
  margin-bottom: 30px;
  text-align: center; }
  .logo-block svg {
    height: auto;
    width: 260px; }
